<div id="home">
  <div class="container">
    <div class="row mt-4">
      <div class="col-8 offset-2">
        <form class="clearfix mb-4" id = "postForm" action="/api/posts" method= "POST">
          <div class="form-group">
            <label for="title">Post Title</label>
            <input type="text" name= "title" id="post-title" class="form-control" aria-describedby="post-title">
          </div>
          <div class="form-group">
            <label for="category">Post Category</label>
            <input type="text" name= "category" id="post-category" class="form-control" aria-describedby="post-category">
          </div>
          <div class="form-group">
            <label for="body">Post Body</label>
            <textarea class="form-control" name = "body" id="post-body" aria-describedby="post-body"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
  <script src="js/posts.js" type="text/javascript"></script>