<div id="main">
  <div id="cta">
    <h2>Together we build better</h2>
    <div class="row" id="cta">
      <div class="col-lg-4">
        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard.</h5>
        <button class="btn btn-outline-light" id="signUp">Create Account</button>
        <button class="btn btn-outline-warning" id="logIn">Login</button>
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}