{{!-- <div class="img-responsive"> --}}
<div>
  <!-- Navbar -->
  <!-- Fixed navbar -->
  <div id="full-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand">
        <a href="/" class="navbar-brand" id="navLogo">
          <h1>Bootcamper</h1>
        </a>
      </span>
    </nav>
  </div>

  {{!-- CTA --}}
  <div id="cta">
    <h2>Together we build better</h2>
    <div class="row">
      <div class="col-lg-4">
        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard.</h5>
          
          <button onclick="window.location.href='/signup'" type="submit" class="btn btn-outline-light" id="signUp">Create Account</button>
  
          <button onclick="window.location.href='/signin'" type="submit" class="btn btn-outline-warning" id="logIn">Login</button>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div id="footerContent">
      <div class="row">
        <div class="col-lg-12">
          Contributors<br>
          <a href="https://github.com/" target="_blank">Bao Phan</a><br>
          <a href="https://github.com/hagharbi" target="_blank">Hamza Agharbi</a><br>
          <a href="https://github.com/lnicholskara" target="_blank">Kara Nichols</a><br>
          <a href="https://github.com/dendevpro" target="_blank">Mauro Facciolla</a><br>
          <p id="copyright">© 2019 Bootcamper</p>
        </div>
      </div>
    </div>
  </footer>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}