<div id="logIn">
    <h3>Log In</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" placeholder="Email/Username">
            </div>
            <form>
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" class="form-control" id="userPassword" placeholder="Password">
                    <span>
                        <small id="gradHelp" class="form-text text-muted">
                            <a href="#">Forgot Password?</a>
                        </small>
                    </span>
                </div>
                <button type="submit" class="btn btn-outline-light" id="logSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>