  <style type="text/css">
    h3 {
      color: black;
      text-decoration: bold;
    }

    label {
      color: gray;
    }
  </style>
  <div id="createAccount">
    <form action="" id ="signup" name = "signup" method="post" action="/posts">
      <h3>Create Account</h3>
      <div class="row">
        <div class="col-lg-2">
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="name" class="form-control" id="name" placeholder="First Name">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="name" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <form>
            <div class="form-group">
              <label for="userEmail">Email</label>
              <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Email">
              <small id="emailHelp" class="form-text text-muted">Your email will be set as
                your username.</small>
            </div>

            <div class="form-group">
              <label for="userPassword">Password</label>
              <input type="password" class="form-control" id="userPassword" placeholder="Password">
            </div>

            <div class="form-group">
              <label for="userSchool">Bootcamp Campus</label>
              <input type="text" class="form-control" id="userSchool" placeholder="Enter Your Campus">
              <span>
                <small id="gradHelp" class="form-text text-muted">
                  If still attending, do not check the box.
                </small>
              </span>
 
              <div class="dropdown">
                <label class="form-check-label" for="gradCheck">Graduated yet?</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                    Select Answer
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Yes</a>
                  <a class="dropdown-item" href="#">No</a>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" class="form-control" id="state" placeholder="State">
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="github_link">Github Portfolio</label>
                  <input type="text" class="form-control" id="github_link" placeholder="Link to your personal portfolio">
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" id="newAcctSubmit" value="Sign Up">Submit</button>
          </form>
        </div>
      </div>
    </form>
  </div>
