<!-- Navbar -->
<!-- Fixed navbar -->
<div id="full-bar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">
      <a href="/" class="navbar-brand" id="navLogo">
        <h1>Bootcamper</h1>
      </a>
    </span>
  </nav>
</div>

<div id="createAccount">
  <form id="signup" name="signup" method="post" action="/signup">
    <h3>Create Account</h3>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group">
          {{!-- <label for="first_name">First Name</label> --}}
          <input type="text" name="first_name" class="form-control" id="firstname" placeholder="First Name" required>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          {{!-- <label for="last_name">Last Name</label> --}}
          <input type="text" name="last_name" class="form-control" id="lastname" placeholder="Last Name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <form>
          <div class="form-group">
            {{!-- <label for="email">Email</label> --}}
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Email" required>
            <small id="emailHelp" class="form-text text-muted">Your email will be set as
              your username.</small>
          </div>

          <div class="form-group">
            {{!-- <label for="password">Password</label> --}}
            <input type="password" name="password" class="form-control" id="userPassword" placeholder="Password" required>
          </div>
          <hr>
          <div class="form-group">
            {{!-- <label for="school">Bootcamp Campus</label> --}}
            <input type="text" name="school" class="form-control" id="userSchool" placeholder="Enter Bootcamp" required>

            {{!-- ******Graduated Yet radio buttons****** --}}
            <div class="dropdown">
              <label class="form-check-label radio-inline" name="graduated_yet" for="graduated_yet" id="dropdownPrompt">
                Graduated yet?
              </label>
              <label class="radio-inline">
                <input type="radio" name="graduated_yet" for="graduated_yet" id="inlineRadio1" value="true" required>Yes</label>
              <label class="radio-inline">
                <input type="radio" name="graduated_yet" for="graduated_yet" id="inlineRadio2" value="false" required>No</label>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                {{!-- <label for="city">City</label> --}}
                <input type="text" name="city" class="form-control" id="city" placeholder="City" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                {{!-- <label for="state">State</label> --}}
                <input type="text" name="state" class="form-control" id="state" placeholder="State"required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                {{!-- <label for="github_link">Github Portfolio</label> --}}
                <input type="text" name="github_link" class="form-control" id="github_link"
                  placeholder="Link to your Github" required>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-warning" id="newAcctSubmit" value="Sign Up">Submit</button>
        </form>
      </div>
    </div>
  </form>
</div>