<body class="img-responsive">

    <!-- Navbar -->
    <!-- Fixed navbar -->
    <div id="full-bar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand">
                <div class="navbar-brand" id="navLogo">
                    <h1>Bootcamper</h1>
                </div>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#logout"
                aria-controls="logout" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="logout">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h5>My Account</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h5>Posts</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h5>Network</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <h5>Logout</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- SINGLE POST -->
    <div class="row" id="singlePost">
        <div class="col-lg-10">
            <h2>Title</h2>
        </div>
        <div class="col-lg-2">
            <div class="col-lg-4">
                <h4><span class="badge badge-secondary" id="category">Category</span></h6>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <dic class="card">
                <div class="card-header">
                    <h5 id="postBody">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard.</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 class="comment">– Reply 1: Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard.</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <h6 class="comment">– Reply 2: Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard.</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
            </dic>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div id="footerContent">
            <div class="row">
                <div class="col-lg-12">
                    <p>© 2019 Bootcamper</p>
                </div>
            </div>
        </div>
    </footer>
</body>