<style>
    * {
        font-family: 'Nunito', sans-serif;
        /*color: #333 !important;*/
        box-sizing: border-box;
        line-height: 1.2;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /* NAV */
    .navbar {
        background: linear-gradient(to right, rgb(0, 40, 162), rgb(155, 64, 224)) !important;
        padding: 0;
        width: 100%;
        opacity: .7;
    }

    #navLogo {
        margin: 2rem auto 2rem 6rem;
        color: white;
    }

    .navbar-nav {
        margin: 2rem 5rem 0 auto;
    }

    .nav-item {
        margin-right: 1rem;
    }

    .img-responsive {
        background-image: url("../images/portal-bg-01.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* ELEMENTS*/
    h1 {
        margin: 0;
    }

    a {
        color: white !important;
    }

    a:hover {
        color: #E2B3FA !important;
    }

    /* CONTENT */
    .card {
        margin-top: 6rem;
        border: none;
        box-shadow: 0px 0px 20px rgb(169, 169, 169);
    }

    .card-header {
        margin: 0;
        padding: 0;
        background: rgb(237, 237, 237);
    }

    #post_Category {
        padding: .5rem;
        margin: .5rem auto .5rem 2rem;
    }

    .separator-lg {
        margin: 0 auto 0 auto;
        border: .5px solid #888;
        width: 95%;
    }


    #post_Title {
        color: #333;
        margin: 1.5rem auto 0 2rem;
    }

    .fa-user-circle {
        padding-top: 0.8rem;
    }

    #user {
        padding-top: 0.8rem;
    }

    .card-body {
        padding: 0 1rem;
    }

    #post_Body {
        margin: 1rem 0 1rem 2rem;
    }

    #reply-div {
        background: rgb(238, 239, 255);
    }

    #reply {
        color: #888;
        margin: 2.2rem auto 0 4rem;
        float: left;
    }

    #submitComment {
        border-radius: 35px;
        margin: 2rem 3rem 0 auto;
        padding: 0.4rem 1.4rem;
        background: #9A6ECF !important;
        border: none;
        color: white;
        text-align: center;
    }

    #comment-title {
        color: #888;
        margin: 1rem auto 0 2rem;
        float: left;
    }

    #commentContainer {
        margin: 2rem 0 1rem 4rem;
    }

    .fa-quote-left {
        opacity: .1;
    }

    .fa-quote-right {
        opacity: .1;
        float: right;
        margin: 1rem 4rem 1rem auto;
    }

    .separator-md {
        margin: 0 auto 1rem auto;
        border: .5px solid #888;
        width: 90%;
    }

    .server-side {
        background-color: rgb(177,114,226)
    }

    .client-side {
        background-color: rgb(66,93,178)
    }

    .career-advice {
        background-color: rgb(250,165,52)
    }

    .faq {
        background-color: rgb(18,166,233)
    }

    .website-management {
        background-color: rgb(130,59,213)
    }

</style>

<body class="img-responsive">
    <!-- Navbar -->
    <!-- Fixed navbar -->
    <div id="full-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">
                <div class="navbar-brand" id="navLogo">
                    <h1>Bootcamper</h1>
                </div>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#logout"
                aria-controls="logout" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="logout">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/myaccount">
                            <h4>My Account</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">
                            <h4>Posts</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/network">
                            <h4>Network</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <h4>Logout</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- SINGLE POST -->
    <div class="container">
        {{!-- card containing all the POST data --}}
        <div class="card mb-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="badge badge-secondary" id="post_Category"></span>
                    </div>
                </div>
                <hr class="separator-lg">
                <div class="row" id="singlePost">
                    <div class="col-lg-8 col-md-6 col-sm-12 mb-2">
                        <h3 id="post_Title"></h3>
                    </div>
                    <div class="col-lg-1 col-md-2 d-none d-sm-none d-md-block">
                        <!-- <canvas id="user-icon" width="1rem" height="1rem" style="background: black"> -->
                        <h1><i class="fas fa-user-circle"></i></h1>
                        <!-- </canvas> -->
                    </div>
                    <div class="col-lg-3 col-md-4 d-none d-sm-none d-md-block" id="user">
                        <h5 class="pr-1" id="post_Author"></h5>
                        <p class="pr-1" id="post_UpdatedAt"></p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 id="post_Body">Body</h5>
                    </div>
                </div>
                <div class="row" id="reply-div">
                    <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                        <h4 id="reply">Reply</h4>
                        {{!-- <i class="fas fa-reply"></i> --}}
                    </div>
                    <div class="clearfix mt-0 mb-0">
                        <form id="commentForm" action="/api/comments" method="POST">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="form-group comment">
                            <label for="comment-body" id="black"></label>
                            <textarea class="form-control" name="comment-body" id="comment-body"
                                aria-describedby="post-body" placeholder="Write your comment here"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <button id="submitComment" class="btn btn-info float-right">Submit</button>
                    </div>
                    </form>
                </div>
                {{!-- <div class="row">
                    <div class="col-lg-12">
                        <h4 id="comment-title">Comments</h4>
                    </div>
                </div> --}}
                <div class="row">
                    <div class="col-lg-12">
                        {{!-- <i class="fas fa-quote-left"></i> --}}
                        <div id="commentContainer"></div>
                        {{!-- <i class="fas fa-quote-right"></i> --}}
                    </div>
                </div>
                <hr class="separator-md">
            </div>
        </div>
    </div>

    <!-- Custom Script -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="js/postandcomments.js" type="text/javascript"></script>
</body>